.top-nav {
  width: 100%;
  height: 60px;
  margin: 0 0 20px;
  padding: 0;
  background-color: #314B7E;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.login {
  width: auto;
  float: right;
  height: auto;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: left;
  line-height: 60px;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1em;
}
.login a {
  color: #fff;
}

.search {
  width: auto;
  height: auto;
  float: left;
  margin: 0 0 0 220px;
  text-align: right;
  line-height: 60px;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1em;
}
.search input {
  border: none;
  padding: 5px 10px;
  font-size: .8em;
  margin: 0 0 0 20px;
  width: 300px;
}

.search button {
  background-color: #4D7DE1;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: .8em;
}

.side-nav {
  width: 170px;
  height: 100%;
  padding: 0;
  margin: 0 2% 0 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #4D7DE1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.side-nav a {
  color: #fff;
}

.logo {
  height: auto;
  width: 120px;
  margin: 80px auto 0;
  font-family: "Muli", sans-serif;
  color: #fff;
  font-size: 2em;
  text-align: center;
  line-height: 0.9em;
  font-weight: bold;
}

.logo-back {
  height: auto;
  width: 100%;
  background-color: #fff;
  color: #4D7DE1;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  margin: -4px 0 0 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
}

.links {
  height: auto;
  width: 170px;
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}
.links li {
  padding: 20px 0 0;
}

.copy {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 170px;
  height: auto;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.copy p {
  color: #fff;
  font-size: 0.7em;
}
.copy a {
  color: #fff;
}

.main-container {
  width: 90%;
  height: auto;
  padding: 0 0 0 220px;
}

.headline {
  margin: 0;
  padding: 0;
  width: 60%;
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  font-weight: bold;
  float: left;
}

.card-container {
  width: 65%;
  height: auto;
  float: left;
}

.card {
  width: 130px;
  height: 130px;
  background-color: #4D7DE1;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: scroll;
  float: left;
}

.card-title {
  color: #fff;
  font-size: 1.7em;
  font-family: "Muli", sans-serif;
  text-align: center;
}

.card-content {
  color: #fff;
  font-size: .7em;
  font-family: "Muli", sans-serif;
  margin: 10px;
}

.widget-outer-container {
  width: 300px;
  margin: 16px 0 0 0;
}

.widget-inner-container {
  width: 300px;
  height: 620px;
  background-color: #91aade;
  position: absolute;
  top: 200;
}

.widget-container {
  width: 300px;
  height: 600px;
  background-color: #91aade;
}

.widget-inner-container p {
  color: #bababa;
  text-align: right;
  font-size: .8  em;
  line-height: 3em;
}

.backbutton-container {
  height: 40px;
  position: absolute;
  right: 20px;
  margin: 0;
  top: 100;
}

.backbutton {
  margin: 10px 20px 0 0;
  background-color: #314B7E; /* Green */
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
}

.greybutton {
  margin: 10px 20px 0 0;
  background-color: #dadada; /* Green */
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
}

.homebutton {
  background-color: #4D7DE1; /* Green */
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media screen and (max-width: 1024px) {
    .main-container {
      width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
      width: 100%;
      padding-left: 30px;
      padding-top: 100px;
    }

    .card-container {
      width: 100%
    }

    .top-nav {
      position: fixed;
    }

    .search input {
      width: 200px;
    }

    .backbutton-container {
      display: fixed;
      top: 0;
    }

    .backbutton {
      background-color: #4D7DE1;
    }

    .widget-outer-container {
      display: none;
    }

    .search {
      margin: 0 0 0 20px;

    }

    .side-nav {
      display: none;
    }

    .login {
      display: none;
    }
}

@media screen and (max-width: 768px) {

  .backbutton-container {
    display: none;
  }

  .search {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .search input {
    width: 200px;
  }

  .search p {
    display: none;
  }

  .main-container {
    width: 100%;
    margin: 0;
    padding: 70px 0;
    text-align: center;
  }

  .card-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .headline {
    width: 80%;
    padding: 10px;
  }

}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: #4D7DE1;
  text-decoration: none;
  font-family: "Muli", sans-serif;
}

p {
  color: #000;
  font-family: "Muli", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.right {
  text-align: right;
}

.clear {
  clear: both;
}
